{% extends 'index.html' %}

<!-- the { % yada-yada-yada % } are Jinja directives - they instruct Jinja (the templatenig engine to do something)-->
{% block body %}

<p>
    The Premier League is a private company wholly owned by its 20 Member Clubs who make up the League at any one time.
    
    Each individual club is independent, working within the rules of football, as defined by the Premier League, The FA, UEFA and FIFA, as well as being subject to English and European law.
    
    Each of the 20 clubs are a Shareholder in the Premier League. Consultation is at the heart of the Premier League and Shareholder meetings are the ultimate decision-making forum for Premier League policy and are held at regular intervals during the course of the season.
    
    The Premier League AGM takes place at the close of each season, at which time the relegated clubs transfer their shares to the clubs promoted into the Premier League from the Football League Championship.
    
    Clubs have the opportunity to propose new rules or amendments at the Shareholder meeting. Each Member Club is entitled to one vote and all rule changes and major commercial contracts require the support of at least a two-thirds vote, or 14 clubs, to be agreed.
    
    The Premier League Rule Book, contained within the Handbook (Download: Premier League Handbook; PDF 18.2MB), serves as a contract between the League, the Member Clubs and one another, defining the structure and running of the competition.
    
    Any serious breach of the Rule Book results in an independent three-person tribunal sitting to hear the case, ascertain guilt and set the punishment, which can range from fines to points deductions and, in extreme cases, expulsion from the competition (this has never happened in the history of the Premier League).
    
    At the Premier League's AGM in June 2022, an Owners' Charter was agreed by Clubs. The Owners and Directors of the Member Clubs are custodians of those organisations and will uphold the spirit of the Charter's commitments.
    
    Read: Premier League Owners' Charter
    
    Premier League UK workforce
    The Premier League head office is based in central London. The organisation has a staff of 191 people who deliver across a range of roles including football, coach development, community, youth development, safeguarding, broadcast, commercial, communications, digital, finance, legal, marketing and policy.
    
    The Premier League’s current UK workforce includes 16.2 per cent Black, Asian, minority ethnic representation and we are committed to delivering equality, diversity and inclusion across the organisation. We are currently in the process of achieving the EY National Equality Standard and therefore our activities and polices are independently assessed.</p>

{% endblock %}
